@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 45px;

        left: 50%;
        transform: translateX(-50%);

        align-items: center;
    }
    #page-home header a span{
        padding-right: 20px;
    }
    #page-home main{
        align-items: center;
    }
    
}

@media (max-height: 590px){
    #page-home{
        background-position-y: 35px;
    }
    #page-home header a{
        font-size: 12px;
        bottom: 0;
    }
    #page-home main{
        justify-content: space-evenly;
    }
    #page-home main p{
        margin-top: 0;
    }
    #page-home main a{
        margin-top: 0;
        height: 50px;
    }
    #page-home main a span{
        height: 50px;
    }
}

@media (max-width: 580px){
    #page-home main{
        margin-bottom: 5vw;
    }
    #page-home main h1{
       font-size: 10vw;
    }
    #page-home main p{
       font-size: 5vw;
    }

    #page-search-result .cards{
        grid-template-columns: 1fr;
    }

    #page-search-result header img,
    #page-create-point header img{
        width: 40%;
    }
    #page-search-result header a,
    #page-create-point header a{
        font-size: 12px;
    }


}